<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_littleItem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>img_littleItem_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,406},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>img_littleItem_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>img_littleItem_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,204},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>img_littleItem_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>img_littleItem_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>img_littleItem_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littleAdvertisingItem.png</string>
            <key>size</key>
            <string>{478,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adb8d92bb253fe82861dfbc5f747f517$</string>
            <key>textureFileName</key>
            <string>littleAdvertisingItem.png</string>
        </dict>
    </dict>
</plist>
